@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
.chat-app{
    font-family: 'poppins';
    height: 100vh;
    background-color: rgb(6, 6, 6);
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    
}

.chat-app > :nth-child(1){
    font-size: 2rem;
    text-align: center;
    background-color: rgb(6, 6, 6);
    color: #ddd;
    margin: 1rem 0;
}

.chat-app > :nth-child(2){
    border: 1px solid #ddd;
    border-radius: 2rem;
    margin: 2rem 0;
}

.messages-display{
    width: 100%;
    height: auto;
    /* max-height: auto; */
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ddd; */
}

.messages-display .messages > *{
    margin: 1rem;
}

.messages-display .messages .message span{
    margin: 1rem;
    padding: .5rem;

}

.new-msg-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}

.new-msg-form input{
  width: 50%;
  background: #111111;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #ffffff;
  margin: .5rem;
  padding: 1rem 16px;
  font-size: 1rem;
}

.new-msg-form input:focus{
    outline: 2px solid #ddd;
}

.send-btn{
    width: 8rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: #d5d0d0;
    font-weight: bold;
    cursor: pointer;
}