@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
.chat-app{
    font-family: 'poppins';
    height: 100vh;
    background-color: rgb(6, 6, 6);
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.chat-app > :nth-child(1){
    font-size: 2rem;
    text-align: center;
    background-color: rgb(6, 6, 6);
    color: #ddd;
    margin: 1rem 0;
}

.chat-app > :nth-child(2){
    border: 1px solid #ddd;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 2rem 0;
}

.messages-display{
    width: 100%;
    height: 50vh;
    overflow: auto;
    /* max-height: auto; */
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ddd; */
}

.messages-display .messages > *{
    margin: 1rem;
}

.messages-display .messages .message span{
    margin: 1rem;
    padding: .5rem;

}

.new-msg-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}

.new-msg-form input{
  width: 50%;
  background: #111111;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #ffffff;
  margin: .5rem;
  padding: 1rem 16px;
  font-size: 1rem;
}

.new-msg-form input:focus{
    outline: 2px solid #ddd;
}

.send-btn{
    width: 8rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: #d5d0d0;
    font-weight: bold;
    cursor: pointer;
}

/*Scroll bar*/
/* Styles the entire scrollbar width/height */
::-webkit-scrollbar {
  width: 4px;
  height: 12px;
}

/* Styles the track (background) */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Styles the thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #ffff;
  border-radius: 20px; /*Optional: adds rounded corners*/
}

/*Responsive*/
/*Tablet and Mobile adjustments*/
@media (max-width: 768px){
    .chat-app .chat-header{
        font-size: 1.5rem;
    }

    .chat-app > :nth-child(2){
        margin: 1.5rem 0;
    }

    .messages-display{
        padding: 1rem 0;
    }
}

/*Small Mobile adjustments*/
@media (max-width: 580px){

    .chat-app .chat-header{
        font-size: 1.1rem;
    }

    .messages-display{
        width: 90%;
    }

    .messages-display .messages > *{
        margin: 1rem 0;
    }

    .send-btn{
        width: 4rem;
    }

    .new-msg-form input{
        width: 70%;
    }

    .sign-out .room-btn{
        width: 5rem;
    }
}